<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    {{if .}}
    <header>修改新闻</header>
    {{else}}
    <header>添加新闻</header>
    {{end}}
    <form action="/user/addNews" method="post">
    <table >
        <tr>
            <th>标题</th>
            <th>作者</th>
            <th>内容</th>
            <th>分类</th>
            <th>操作</th>
        </tr>
        
            {{if .}}
        <tr>
            <input type="hidden" name="id" value="{{.Id}}">
            <th><input type="text" name="title" value="{{.Title}}"></th>
            <th><input type="text" name="author" value="{{.Author}}"></th>
            <th><input type="text" name="content" value="{{.Context}}"></th>
            <th><select name="class">                     <!--下拉列表-->
                <option value="1" selected="selected">国内新闻(须重新选择)</option>
                <option value="2">国际新闻</option>
                <option value="3">娱乐新闻</option>
                <option value="4">体育新闻</option>
                <th><input type="submit"></th>
            </th>
        {{else}}
        <tr>
           
            <th><input type="text" value="" name="title"></th>
            <th><input type="text" value="" name="author"></th>
            <th><input type="text" value="" name="content"></th>
            <th><select name="class">                     <!--下拉列表-->
                <option value="1" selected="selected">国内新闻</option>
                <option value="2">国际新闻</option>
                <option value="3">娱乐新闻</option>
                <option value="4">体育新闻</option>
            </th>
            <th><input type="submit"></th>
        </tr>
         {{end}}
        </form>
    </table>
</body>
</html>