<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{template "public/public_header" .}}
    <h2>不同名字的多文件上传</h2>
    <form action="/admin/users/doEdit" method="post" enctype="multipart/form-data">
        昵称:<input type="text" name="nickname"><br>
        头像1:<input type="file" name="file1"><br>
        头像2:<input type="file" name="file2"><br>
        <input type="submit">
    </form>
</body>
</html>