<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>新闻</header>
    
    <form action="/user/selectClass" method="post">
        按类别查找:
        <select name="class">                     
        <option value="0" selected="selected">所有新闻</option>
        <option value="1" >国内新闻</option>
        <option value="2">国际新闻</option>
        <option value="3">娱乐新闻</option>
        <option value="4">体育新闻</option></select>
        <input type="submit" value="查找">
    </form>
        <form action="/user/selectAuthor" method="post">
        按作者查找:
        <input type="text" name="author">
        <input type="submit" value="查找">
    </form>                     
        
    <table>
        <tr>
            <th>标题</th>
            <th>作者</th>
            <th>内容</th>
            <th>分类</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {{if .}}
        {{range .}}
        <tr>
            
            <th>{{.Title}}</th>
            <th>{{.Author}}</th>
            <th>{{.Context}}</th>
            <th>{{.Class.Class}}</th>
            <th>{{.CreateTime}}</th>
            <th><button><a href="/user/delete?id={{.Id}}">删除</a></button></th>
            <th><button><a href="/user/update?id={{.Id}}">修改</a></button></th>
        </tr>
        {{end}}
        
        {{else}}
        <tr>
           <th style="color: red;" >没有新闻</th>
        </tr>
        {{end}}
        <tr>
            <th ><a href="/user/addNewsPage">添加新闻</a></th>
        </tr>
    </table>
</body>
</html>